@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue:700,400|Bungee:400|SF+Pro Text:700');
@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue:700,400|Bungee:400|SF+Pro Text:700');
* {
  box-sizing: border-box;
}
.added-to-cart {
  align-items: flex-start;
  background-color: white;
  display: inline-flex;
  flex-direction: row;
  height: 800px;
  justify-content: flex-start;
  min-width: 1366px;
  padding: 0 26.5px;
  width: auto;
}
.added-to-cart .add-to-collection {
  background-color: transparent;
  font-size: 18px;
  height: calc(100.00% + 2px);
  left: 20px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% - 18px);
}
.added-to-cart .added-to-cart {
  background-color: transparent;
  font-size: 12px;
  height: auto;
  left: 758px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 508px;
  white-space: nowrap;
  width: auto;
}
.added-to-cart .btn {
  background-color: var(--cape-honey);
  border-radius: 2px;
  height: 60px;
  left: 558px;
  position: absolute;
  top: 484px;
  width: 300px;
}
.added-to-cart .by {
  background-color: transparent;
  height: 16px;
  left: 0px;
  line-height: 12px;
  opacity: 0.45;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 15px;
}
.added-to-cart .description {
  background-color: transparent;
  height: auto;
  left: 558px;
  position: absolute;
  text-align: left;
  top: 328px;
  white-space: nowrap;
  width: auto;
}
.added-to-cart .ellipse-609 {
  background-color: transparent;
  flex-shrink: 0;
  height: 6px;
  margin-left: 3px;
  margin-top: 22px;
  width: 6px;
}
.added-to-cart .grid {
  background-color: transparent;
  height: 4288px;
  left: 57px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 1180px;
}
.added-to-cart .group-1249 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -130px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.added-to-cart .group-1250 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.added-to-cart .group-1251 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -530px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.added-to-cart .group-1252 {
  background-color: transparent;
  height: 100%;
  left: calc(36.36% - 29px);
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.added-to-cart .group-1253 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -930px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.added-to-cart .group-1254 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: calc(27.27% - 22px);
  top: 0px;
  width: 80px;
}
.added-to-cart .group-1255 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -330px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.added-to-cart .group-1256 {
  background-color: transparent;
  height: 100%;
  left: calc(18.18% - 15px);
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.added-to-cart .group-1257 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -730px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.added-to-cart .group-1258 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: calc(45.45% - 36px);
  top: 0px;
  width: 80px;
}
.added-to-cart .group-1259 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -1130px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.added-to-cart .group-1260 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 100px;
  top: 0px;
  width: 80px;
}
.added-to-cart .group-1261 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -230px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.added-to-cart .group-1262 {
  background-color: transparent;
  height: 100%;
  left: 100px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.added-to-cart .group-1263 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -630px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.added-to-cart .group-1264 {
  background-color: transparent;
  height: 100%;
  left: calc(45.45% - 36px);
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.added-to-cart .group-1265 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -1030px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.added-to-cart .group-1266 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: calc(18.18% - 15px);
  top: 0px;
  width: 80px;
}
.added-to-cart .group-1267 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -430px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.added-to-cart .group-1268 {
  background-color: transparent;
  height: 100%;
  left: calc(27.27% - 22px);
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.added-to-cart .group-1269 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -830px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.added-to-cart .group-1270 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: calc(36.36% - 29px);
  top: 0px;
  width: 80px;
}
.added-to-cart .group-1271 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -1230px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.added-to-cart .group-1272 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 80px;
}
.added-to-cart .group-1278 {
  background-color: transparent;
  height: 20px;
  left: 559px;
  position: absolute;
  top: 584px;
  width: 168px;
}
.added-to-cart .group-2216 {
  background-color: transparent;
  height: 20px;
  left: 561px;
  position: absolute;
  top: 121px;
  width: 122px;
}
.added-to-cart .group-2489 {
  background-color: transparent;
  height: 28px;
  left: 790px;
  position: absolute;
  top: 585px;
  width: 138px;
}
.added-to-cart .group-2491 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.added-to-cart .icon-aweso-opping-bag {
  background-color: transparent;
  flex-shrink: 0;
  height: 14px;
  margin-left: 44px;
  margin-top: 29.0px;
  width: 12px;
}
.added-to-cart .icon-ionic--checkmark {
  background-color: transparent;
  height: 11px;
  left: 732px;
  position: absolute;
  top: 509px;
  width: 14px;
}
.added-to-cart .icon-ionic-ios-search {
  background-color: transparent;
  height: 14px;
  left: 1130px;
  position: absolute;
  top: 29px;
  width: 14px;
}
.added-to-cart .icon-material-person {
  background-color: transparent;
  height: 14px;
  left: 1206px;
  position: absolute;
  top: 29px;
  width: 14px;
}
.added-to-cart .kabuki-gew-performers {
  background-color: transparent;
  height: 66px;
  left: 558px;
  line-height: 24px;
  opacity: 0.45;
  position: absolute;
  text-align: left;
  top: 365px;
  width: 482px;
}
.added-to-cart .kabuki-ramen-print {
  background-color: transparent;
  font-size: 38px;
  height: 93px;
  left: 558px;
  line-height: 44px;
  position: absolute;
  text-align: left;
  top: 183px;
  width: 350px;
}
.added-to-cart .knot2 {
  background-color: transparent;
  height: 438px;
  left: 57px;
  position: absolute;
  top: 121px;
  width: 431px;
}
.added-to-cart .line-289 {
  background-color: transparent;
  height: 2px;
  left: 558px;
  position: absolute;
  top: 612px;
  width: 166px;
}
.added-to-cart .line-447 {
  background-color: transparent;
  height: 2px;
  left: 888px;
  position: absolute;
  top: 528px;
  width: 54px;
}
.added-to-cart .line-82 {
  background-color: transparent;
  bottom: -1px;
  height: 2px;
  left: 1px;
  position: absolute;
  width: calc(100.00% - 2px);
}
.added-to-cart .line-84 {
  background-color: transparent;
  bottom: -1px;
  height: 2px;
  position: absolute;
  right: 0px;
  width: 103px;
}
.added-to-cart .mini-gift {
  background-color: transparent;
  height: auto;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: auto;
}
.added-to-cart .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: 4288px;
  position: relative;
  width: 1237px;
}
.added-to-cart .path-2661 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: 125px;
  position: absolute;
  top: -21px;
  width: 90px;
}
.added-to-cart .path-2664 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(38.89% - 35px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.added-to-cart .path-2667 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(31.48% - 28px);
  top: -21px;
  width: 90px;
}
.added-to-cart .path-2670 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(24.07% - 22px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.added-to-cart .path-2673 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(46.30% - 42px);
  top: -21px;
  width: 90px;
}
.added-to-cart .path-2676 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(16.67% - 15px);
  top: -21px;
  width: 90px;
}
.added-to-cart .path-2679 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(16.67% - 15px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.added-to-cart .path-2682 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(46.30% - 42px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.added-to-cart .path-2685 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(24.07% - 22px);
  top: -21px;
  width: 90px;
}
.added-to-cart .path-2688 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(31.48% - 28px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.added-to-cart .path-2691 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(38.89% - 35px);
  top: -21px;
  width: 90px;
}
.added-to-cart .path-2694 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: 125px;
  top: -21px;
  width: 90px;
}
.added-to-cart .path-2698 {
  background-color: transparent;
  height: calc(100.00% - 8px);
  left: -1px;
  position: absolute;
  top: 4px;
  width: 14px;
}
.added-to-cart .pins {
  background-color: transparent;
  height: auto;
  left: 425px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.added-to-cart .plushies {
  background-color: transparent;
  height: auto;
  left: 589px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.added-to-cart .postcards {
  background-color: transparent;
  height: auto;
  left: 775px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.added-to-cart .prints {
  background-color: transparent;
  height: auto;
  left: 497px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.added-to-cart .rectangle-727 {
  background-color: transparent;
  height: 148px;
  left: 82px;
  position: absolute;
  top: 584px;
  width: 124px;
}
.added-to-cart .repeat-grid-152 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  height: 120px;
  justify-content: flex-start;
  left: 97px;
  min-width: 322px;
  padding: 5px;
  position: absolute;
  top: 599px;
  width: auto;
}
.added-to-cart .share-this-page {
  background-color: transparent;
  font-size: 18px;
  height: 23px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}
.added-to-cart .shipping-returns {
  background-color: transparent;
  height: auto;
  left: 770px;
  opacity: 0.45;
  position: absolute;
  text-align: left;
  top: 328px;
  white-space: nowrap;
  width: auto;
}
.added-to-cart .sizes {
  background-color: transparent;
  height: auto;
  left: 695px;
  opacity: 0.45;
  position: absolute;
  text-align: left;
  top: 328px;
  white-space: nowrap;
  width: auto;
}
.added-to-cart .stickers {
  background-color: transparent;
  height: auto;
  left: 311px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.added-to-cart .tees {
  background-color: transparent;
  height: auto;
  left: 701px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.added-to-cart .tote-bag {
  background-color: transparent;
  height: auto;
  left: 905px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.added-to-cart .view-cart {
  background-color: transparent;
  font-size: 12px;
  height: auto;
  left: 887px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 508px;
  white-space: nowrap;
  width: auto;
}
.added-to-cart .x0-1 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 107px;
  justify-content: center;
  min-width: 84px;
  width: auto;
}
.added-to-cart .x1-1 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 107px;
  justify-content: center;
  margin-left: 30px;
  min-width: 84px;
  width: auto;
}
.added-to-cart .x2 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 107px;
  justify-content: center;
  margin-left: 30px;
  min-width: 84px;
  width: auto;
}
.added-to-cart .x31024x1024 {
  background-color: transparent;
  flex-shrink: 0;
  height: 117px;
  margin-top: -5px;
  width: 94px;
}
.added-to-cart .x39 {
  background-color: transparent;
  font-size: 12px;
  height: auto;
  left: 579px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 508px;
  white-space: nowrap;
  width: auto;
}
.added-to-cart .yeaaah-studio {
  background-color: transparent;
  font-size: 12px;
  height: 16px;
  left: 18px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 84px;
}
.font-class-1 {
  color: black;
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2.40px;
  line-height: 12px;
}
.font-class-2 {
  color: black;
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
.font-class-3 {
  color: black;
  font-family: 'HelveticaNeue-Regular', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.font-class-4 {
  color: black;
  font-family: 'Bungee', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.80px;
  line-height: 28px;
}
:root {
  --cape-honey: rgba(252,226,169,1.0);
}