@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue:700,400|Bungee:400|SF+Pro Text:700');
@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue:700,400|Bungee:400|SF+Pro Text:700');
* {
  box-sizing: border-box;
}
.cart {
  align-items: flex-start;
  background-color: white;
  display: inline-flex;
  flex-direction: row;
  height: 1773px;
  justify-content: flex-start;
  min-width: 1366px;
  padding: 0 22.5px;
  width: auto;
}
.cart .about-us {
  background-color: transparent;
  height: 16px;
  left: 116px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 81px;
}
.cart .android {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 10px);
}
.cart .auto-flex {
  align-items: flex-end;
  align-self: center;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 18px;
  justify-content: flex-start;
  margin-left: 2.0px;
  margin-top: 14px;
  min-width: 293px;
  width: auto;
}
.cart .auto-flex-MhkLXF {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 31px;
  justify-content: flex-start;
  min-width: 311px;
  width: auto;
}
.cart .auto-flex-WYU7p1 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 2px;
  justify-content: flex-start;
  margin-left: 0.5px;
  margin-top: 1px;
  min-width: 309px;
  width: auto;
}
.cart .auto-flex-ownYku {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 141px;
  justify-content: flex-start;
  min-width: 481px;
  width: auto;
}
.cart .auto-flex-rM6Eya {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  margin-left: 30px;
  min-height: 139px;
  width: 311px;
}
.cart .btn {
  background-color: var(--cape-honey);
  border-radius: 2px;
  height: 60px;
  left: 797px;
  position: absolute;
  top: 470px;
  width: 300px;
}
.cart .cart-total {
  background-color: transparent;
  font-size: 20px;
  height: 35px;
  left: 795px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 240px;
  width: 314px;
}
.cart .discover-t-reat-taste {
  background-color: transparent;
  height: 51px;
  left: calc(43.35% - 116px);
  line-height: 22px;
  opacity: 0.45;
  position: absolute;
  text-align: left;
  top: 20px;
  width: 267px;
}
.cart .download {
  background-color: transparent;
  height: 17px;
  left: calc(39.14% - 66px);
  position: absolute;
  text-align: left;
  top: 0px;
  width: 169px;
}
.cart .ellipse-472 {
  background-color: transparent;
  flex-shrink: 0;
  height: 6px;
  margin-left: 7px;
  margin-top: 23px;
  width: 6px;
}
.cart .golden-football {
  background-color: transparent;
  flex-shrink: 0;
  height: 140px;
  width: 140px;
}
.cart .grid {
  background-color: transparent;
  height: 4288px;
  left: 57px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 1180px;
}
.cart .group-149 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  margin-left: 0.99px;
  margin-top: 26px;
  min-height: 170px;
  width: 481px;
}
.cart .group-1493 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  margin-left: 0.99px;
  min-height: 170px;
  width: 481px;
}
.cart .group-1498 {
  background-color: transparent;
  height: 22px;
  left: 797px;
  position: absolute;
  top: 400px;
  width: 140px;
}
.cart .group-1538 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -130px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.cart .group-1539 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.cart .group-1540 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -530px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.cart .group-1541 {
  background-color: transparent;
  height: 100%;
  left: calc(36.36% - 29px);
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.cart .group-1542 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -930px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.cart .group-1543 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: calc(27.27% - 22px);
  top: 0px;
  width: 80px;
}
.cart .group-1544 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -330px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.cart .group-1545 {
  background-color: transparent;
  height: 100%;
  left: calc(18.18% - 15px);
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.cart .group-1546 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -730px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.cart .group-1547 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: calc(45.45% - 36px);
  top: 0px;
  width: 80px;
}
.cart .group-1548 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -1130px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.cart .group-1549 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 100px;
  top: 0px;
  width: 80px;
}
.cart .group-1550 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -230px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.cart .group-1551 {
  background-color: transparent;
  height: 100%;
  left: 100px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.cart .group-1552 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -630px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.cart .group-1553 {
  background-color: transparent;
  height: 100%;
  left: calc(45.45% - 36px);
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.cart .group-1554 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -1030px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.cart .group-1555 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: calc(18.18% - 15px);
  top: 0px;
  width: 80px;
}
.cart .group-1556 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -430px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.cart .group-1557 {
  background-color: transparent;
  height: 100%;
  left: calc(27.27% - 22px);
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.cart .group-1558 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -830px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.cart .group-1559 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: calc(36.36% - 29px);
  top: 0px;
  width: 80px;
}
.cart .group-1560 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -1230px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.cart .group-1561 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 80px;
}
.cart .group-2253 {
  background-color: transparent;
  height: 15px;
  left: calc(36.21% - 32px);
  position: absolute;
  top: calc(38.33% - 6px);
  width: 87px;
}
.cart .group-2532 {
  background-color: transparent;
  height: 302px;
  left: 58px;
  position: absolute;
  top: 1384px;
  width: 1178px;
}
.cart .i-os {
  background-color: transparent;
  height: 17px;
  left: calc(34.40% - 10px);
  position: absolute;
  text-align: left;
  top: calc(27.37% - 5px);
  width: 30px;
}
.cart .icon-aweso-opping-bag {
  background-color: transparent;
  flex-shrink: 0;
  height: 14px;
  margin-left: 44px;
  margin-top: 29.0px;
  width: 12px;
}
.cart .icon-ionic-ios-search {
  background-color: transparent;
  height: 14px;
  left: 1130px;
  position: absolute;
  top: 29px;
  width: 14px;
}
.cart .icon-material-person {
  background-color: transparent;
  height: 14px;
  left: 1206px;
  position: absolute;
  top: 29px;
  width: 14px;
}
.cart .line-104 {
  background-color: transparent;
  height: 10px;
  left: 4px;
  position: absolute;
  top: 2px;
  width: 2px;
}
.cart .line-105 {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: calc(31.71% - 1px);
  width: 11px;
}
.cart .line-110 {
  background-color: transparent;
  bottom: -1px;
  height: 2px;
  left: 1px;
  position: absolute;
  width: calc(100.00% - 7px);
}
.cart .line-154 {
  background-color: transparent;
  flex-shrink: 0;
  height: 2px;
  width: 100px;
}
.cart .line-155 {
  background-color: transparent;
  flex-shrink: 0;
  height: 2px;
  margin-left: 149px;
  width: 60px;
}
.cart .line-227 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 15px;
  width: 44px;
}
.cart .line-319 {
  background-color: transparent;
  height: 2px;
  left: 158px;
  position: absolute;
  top: 141px;
  width: 93px;
}
.cart .mini-gift-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: auto;
}
.cart .mini-gift-H1Z6Dq {
  background-color: transparent;
  bottom: calc(19.80% - 9px);
  height: 47px;
  left: 0px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 132px;
}
.cart .okami-post-matsushita {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  line-height: 12px;
  min-height: 30px;
  min-width: 159px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .one-size {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  line-height: 12px;
  min-height: 16px;
  min-width: 61px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .only- {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  line-height: 20px;
  margin-bottom: -4px;
  margin-top: 13px;
  min-height: 16px;
  min-width: 110px;
  opacity: 0.45;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .overlap-group {
  background-color: transparent;
  flex-shrink: 0;
  height: 16px;
  margin-top: 27px;
  position: relative;
  width: 47px;
}
.cart .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: 4288px;
  position: relative;
  width: 1237px;
}
.cart .path-32 {
  background-color: transparent;
  flex-shrink: 0;
  height: 1px;
  margin-left: 0.01px;
  margin-top: 28px;
  width: 480px;
}
.cart .path-3298 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: 125px;
  position: absolute;
  top: -21px;
  width: 90px;
}
.cart .path-3301 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(38.89% - 35px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.cart .path-3304 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(31.48% - 28px);
  top: -21px;
  width: 90px;
}
.cart .path-3307 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(24.07% - 22px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.cart .path-3310 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(46.30% - 42px);
  top: -21px;
  width: 90px;
}
.cart .path-3313 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(16.67% - 15px);
  top: -21px;
  width: 90px;
}
.cart .path-3316 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(16.67% - 15px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.cart .path-3319 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(46.30% - 42px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.cart .path-3322 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(24.07% - 22px);
  top: -21px;
  width: 90px;
}
.cart .path-3325 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(31.48% - 28px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.cart .path-3328 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(38.89% - 35px);
  top: -21px;
  width: 90px;
}
.cart .path-3331 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: 125px;
  top: -21px;
  width: 90px;
}
.cart .path-341 {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.cart .path-342 {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 21px;
}
.cart .path-343 {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(48.85% - 10px);
  top: 0px;
  width: 21px;
}
.cart .path-4195 {
  background-color: transparent;
  height: 9px;
  left: calc(36.53% - 3px);
  position: absolute;
  top: calc(27.79% - 3px);
  width: 9px;
}
.cart .path-4196 {
  background-color: transparent;
  height: calc(100.00% - 6px);
  position: absolute;
  right: 0px;
  top: 3px;
  width: 9px;
}
.cart .payment {
  background-color: transparent;
  height: auto;
  left: 476px;
  opacity: 0.15;
  position: absolute;
  text-align: center;
  top: 122px;
  white-space: nowrap;
  width: auto;
}
.cart .pins {
  background-color: transparent;
  height: auto;
  left: 425px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.cart .plushies {
  background-color: transparent;
  height: auto;
  left: 589px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.cart .postcards {
  background-color: transparent;
  height: auto;
  left: 775px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.cart .press {
  background-color: transparent;
  height: 16px;
  left: calc(23.98% - 12px);
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 52px;
}
.cart .prints {
  background-color: transparent;
  height: auto;
  left: 497px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.cart .privacy-policy {
  background-color: transparent;
  bottom: calc(25.52% - 4px);
  height: 16px;
  left: calc(17.35% - 13px);
  line-height: 12px;
  opacity: 0.45;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 77px;
}
.cart .proceed-to-shipping {
  background-color: transparent;
  font-size: 12px;
  height: auto;
  left: 955px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 494px;
  white-space: nowrap;
  width: auto;
}
.cart .rectangle-434 {
  background-color: transparent;
  height: 553px;
  left: 667px;
  position: absolute;
  top: 112px;
  width: 560px;
}
.cart .remove {
  background-color: transparent;
  height: auto;
  left: 0px;
  line-height: 12px;
  opacity: 0.45;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.cart .repeat-grid-168 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 156px;
  min-height: 940px;
  position: absolute;
  top: 202px;
  width: 480px;
}
.cart .shipping {
  background-color: transparent;
  height: auto;
  left: 326px;
  opacity: 0.15;
  position: absolute;
  text-align: center;
  top: 122px;
  white-space: nowrap;
  width: auto;
}
.cart .shop {
  background-color: transparent;
  height: 16px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 43px;
}
.cart .social {
  background-color: transparent;
  bottom: calc(25.98% - 5px);
  height: 21px;
  position: absolute;
  right: 0px;
  width: 101px;
}
.cart .stickers {
  background-color: transparent;
  height: auto;
  left: 311px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.cart .subtotaltax {
  background-color: transparent;
  height: 57px;
  left: 797px;
  line-height: 30px;
  opacity: 0.45;
  position: absolute;
  text-align: left;
  top: 291px;
  width: 188px;
}
.cart .tees {
  background-color: transparent;
  height: auto;
  left: 701px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.cart .terms-and-conditions {
  background-color: transparent;
  bottom: calc(25.52% - 4px);
  height: 16px;
  left: calc(30.84% - 36px);
  line-height: 12px;
  opacity: 0.45;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 118px;
}
.cart .tote-bag {
  background-color: transparent;
  height: auto;
  left: 905px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.cart .use-promotion-code {
  background-color: transparent;
  font-size: 12px;
  height: 21px;
  left: 16px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 14px);
}
.cart .with-border {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  line-height: 12px;
  min-height: 16px;
  min-width: 76px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-0igReG {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  margin-left: 30px;
  min-height: 18px;
  min-width: 23px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-5s0KRl {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  margin-left: 30px;
  min-height: 18px;
  min-width: 23px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-7sL3ev {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  margin-left: 21px;
  min-height: 18px;
  min-width: 23px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-8gbM6K {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  margin-left: 30px;
  min-height: 18px;
  min-width: 23px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-NCVAGP {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  margin-left: 15px;
  min-height: 18px;
  min-width: 23px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-XeUr2O {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  line-height: 20px;
  margin-bottom: -4px;
  margin-top: 13px;
  min-height: 16px;
  min-width: 15px;
  opacity: 0.45;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-XvJDlD {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  line-height: 20px;
  margin-bottom: -4px;
  margin-top: 13px;
  min-height: 16px;
  min-width: 15px;
  opacity: 0.45;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-aah-studio {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  line-height: 12px;
  min-height: 30px;
  min-width: 109px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-bad-luck--aah-studio {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  line-height: 12px;
  min-height: 30px;
  min-width: 121px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-fTxeJJ {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  margin-left: 21px;
  min-height: 18px;
  min-width: 23px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-g1LoYO {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  margin-left: 21px;
  min-height: 18px;
  min-width: 23px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-kabuki-ra-aah-studio {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  line-height: 12px;
  min-height: 30px;
  min-width: 127px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-sH0cuJ {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  margin-left: 21px;
  min-height: 18px;
  min-width: 23px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-sPBiL4 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  margin-left: 21px;
  min-height: 18px;
  min-width: 23px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-vpyV9V {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  margin-left: 30px;
  min-height: 18px;
  min-width: 23px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x-zhkluk {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  line-height: 20px;
  margin-bottom: -4px;
  margin-top: 13px;
  min-height: 16px;
  min-width: 15px;
  opacity: 0.45;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.cart .x1 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  line-height: 12px;
  margin-left: 156px;
  min-height: 16px;
  min-width: 19px;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.cart .x17317 {
  background-color: transparent;
  font-size: 12px;
  height: 54px;
  left: 1036px;
  line-height: 30px;
  position: absolute;
  text-align: right;
  top: 291px;
  width: 63px;
}
.cart .x19 {
  background-color: transparent;
  flex-shrink: 0;
  font-size: 12px;
  height: auto;
  line-height: 12px;
  margin-left: 178px;
  min-height: 16px;
  min-width: 32px;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.cart .x190 {
  background-color: transparent;
  font-size: 12px;
  height: auto;
  left: 821px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 494px;
  white-space: nowrap;
  width: auto;
}
.cart .x2 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  line-height: 12px;
  margin-left: 156px;
  min-height: 16px;
  min-width: 19px;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.cart .x2020-mini--n-or-event {
  background-color: transparent;
  bottom: 4px;
  height: 43px;
  left: 0px;
  line-height: 24px;
  opacity: 0.45;
  position: absolute;
  text-align: left;
  width: 652px;
}
.cart .x39 {
  background-color: transparent;
  flex-shrink: 0;
  font-size: 12px;
  height: auto;
  line-height: 12px;
  margin-left: 172px;
  min-height: 16px;
  min-width: 32px;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.cart .x5 {
  background-color: transparent;
  flex-shrink: 0;
  font-size: 12px;
  height: auto;
  line-height: 12px;
  margin-left: 197px;
  min-height: 16px;
  min-width: 25px;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.cart .x50 {
  background-color: transparent;
  flex-shrink: 0;
  font-size: 12px;
  height: auto;
  line-height: 12px;
  margin-left: 140px;
  min-height: 16px;
  min-width: 32px;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.cart .x60 {
  background-color: transparent;
  flex-shrink: 0;
  font-size: 12px;
  height: auto;
  line-height: 12px;
  margin-left: 190px;
  min-height: 16px;
  min-width: 32px;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.cart .your-cart {
  background-color: transparent;
  height: auto;
  left: 159px;
  position: absolute;
  text-align: center;
  top: 122px;
  white-space: nowrap;
  width: auto;
}
.font-class-1 {
  color: black;
  font-family: 'HelveticaNeue-Regular', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.font-class-2 {
  color: black;
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2.40px;
  line-height: 12px;
}
.font-class-3 {
  color: black;
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
.font-class-4 {
  color: black;
  font-family: 'Bungee', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.80px;
  line-height: 28px;
}
.font-class-5 {
  color: black;
  font-family: 'Bungee', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3.60px;
  line-height: 28px;
}
:root {
  --cape-honey: rgba(252,226,169,1.0);
}