@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue:700,400|Bungee:400|SF+Pro Text:700');
@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue:700,400|Bungee:400|SF+Pro Text:700');
* {
  box-sizing: border-box;
}
.border-class-1 {
  border: 1px solid rgba(0,0,0,1.0);
}
.font-class-1 {
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2.40px;
}
.font-class-2 {
  color: black;
  font-family: 'HelveticaNeue-Regular', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.font-class-3 {
  color: black;
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
.font-class-4 {
  color: white;
  font-family: 'Bungee', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.80px;
  line-height: 28px;
}
.font-class-5 {
  color: black;
  font-family: 'Bungee', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3.60px;
  line-height: 28px;
}
.homepage {
  background-color: white;
  height: 2797px;
  position: relative;
  width: 1366px;
}
.homepage .about-us {
  background-color: transparent;
  color: black;
  height: 16px;
  left: 116px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 81px;
}
.homepage .android {
  background-color: transparent;
  color: black;
  height: 17px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 10px);
}
.homepage .bff-tee {
  background-color: transparent;
  bottom: 13px;
  height: 16px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 56px;
}
.homepage .boxing-gloves {
  background-color: transparent;
  height: calc(100.00% - 40px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.homepage .component-35-1 {
  background-color: transparent;
  height: 15px;
  left: 420px;
  position: absolute;
  top: 1588px;
  width: 17px;
}
.homepage .discover-t-reat-taste {
  background-color: transparent;
  height: 51px;
  left: calc(43.35% - 116px);
  line-height: 22px;
  opacity: 0.45;
  position: absolute;
  text-align: left;
  top: 20px;
  width: 267px;
}
.homepage .download {
  background-color: transparent;
  color: black;
  height: 17px;
  left: calc(39.14% - 66px);
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 169px;
}
.homepage .e99cc6f0-7-200200x200 {
  background-color: transparent;
  height: 266px;
  left: 550px;
  position: absolute;
  top: 167px;
  width: 266px;
}
.homepage .ellipse-450 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 6px;
}
.homepage .ellipse-451 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 6px;
}
.homepage .ellipse-452 {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 6px;
}
.homepage .featured-collections {
  background-color: transparent;
  color: black;
  height: 17px;
  left: 908px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 1340px;
  white-space: nowrap;
  width: 245px;
}
.homepage .featured-f-ollections {
  background-color: transparent;
  color: black;
  height: 15px;
  left: 371px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 626px;
  white-space: nowrap;
  width: 626px;
}
.homepage .fiber-opti-oodie-9jpg {
  background-color: transparent;
  height: calc(100.00% - 40px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.homepage .grid {
  background-color: transparent;
  height: 4288px;
  left: 93px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 1180px;
}
.homepage .group-1041 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -130px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.homepage .group-1042 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.homepage .group-1043 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -530px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.homepage .group-1044 {
  background-color: transparent;
  height: 100%;
  left: calc(36.36% - 29px);
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.homepage .group-1045 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -930px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.homepage .group-1046 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: calc(27.27% - 22px);
  top: 0px;
  width: 80px;
}
.homepage .group-1047 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -330px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.homepage .group-1048 {
  background-color: transparent;
  height: 100%;
  left: calc(18.18% - 15px);
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.homepage .group-1049 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -730px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.homepage .group-1050 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: calc(45.45% - 36px);
  top: 0px;
  width: 80px;
}
.homepage .group-1051 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -1130px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.homepage .group-1052 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 100px;
  top: 0px;
  width: 80px;
}
.homepage .group-1053 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -230px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.homepage .group-1054 {
  background-color: transparent;
  height: 100%;
  left: 100px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.homepage .group-1055 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -630px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.homepage .group-1056 {
  background-color: transparent;
  height: 100%;
  left: calc(45.45% - 36px);
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.homepage .group-1057 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -1030px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.homepage .group-1058 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: calc(18.18% - 15px);
  top: 0px;
  width: 80px;
}
.homepage .group-1059 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -430px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.homepage .group-1060 {
  background-color: transparent;
  height: 100%;
  left: calc(27.27% - 22px);
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 80px;
}
.homepage .group-1061 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -830px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.homepage .group-1062 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: calc(36.36% - 29px);
  top: 0px;
  width: 80px;
}
.homepage .group-1063 {
  background-color: transparent;
  height: calc(100.00% + 103px);
  left: -1230px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: calc(100.00% + 1360px);
}
.homepage .group-1064 {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 80px;
}
.homepage .group-1065 {
  background-color: black;
  border-radius: 2px;
  height: 50px;
  left: 908px;
  position: absolute;
  top: 1503px;
  width: 172px;
}
.homepage .group-1066 {
  background-color: transparent;
  height: 6px;
  left: 645px;
  position: absolute;
  top: 544px;
  width: 76px;
}
.homepage .group-1073 {
  background-color: transparent;
  height: 468px;
  left: 21px;
  position: absolute;
  top: 1188px;
  width: 428px;
}
.homepage .group-1088 {
  background-color: transparent;
  height: 468px;
  left: 21px;
  position: absolute;
  top: 1694px;
  width: 428px;
}
.homepage .group-1089 {
  background-color: transparent;
  height: 468px;
  left: 470px;
  position: absolute;
  top: 1694px;
  width: 428px;
}
.homepage .group-1090 {
  background-color: transparent;
  height: 468px;
  left: 919px;
  position: absolute;
  top: 1694px;
  width: 428px;
}
.homepage .group-2253 {
  background-color: transparent;
  height: 15px;
  left: calc(36.21% - 32px);
  position: absolute;
  top: calc(38.33% - 6px);
  width: 87px;
}
.homepage .group-2510 {
  background-color: transparent;
  height: 468px;
  left: 470px;
  position: absolute;
  top: 680px;
  width: 428px;
}
.homepage .group-2511 {
  background-color: transparent;
  height: 468px;
  left: 919px;
  position: absolute;
  top: 680px;
  width: 428px;
}
.homepage .group-2512 {
  background-color: transparent;
  height: 468px;
  left: 21px;
  position: absolute;
  top: 680px;
  width: 428px;
}
.homepage .group-2526 {
  background-color: transparent;
  height: 302px;
  left: 94px;
  position: absolute;
  top: 2408px;
  width: 1178px;
}
.homepage .i-os {
  background-color: transparent;
  color: black;
  height: 17px;
  left: calc(34.40% - 10px);
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: calc(27.37% - 5px);
  width: 30px;
}
.homepage .icon-aweso-opping-bag {
  background-color: transparent;
  height: 14px;
  left: 1318px;
  position: absolute;
  top: 29px;
  width: 12px;
}
.homepage .icon-ionic-ios-search {
  background-color: transparent;
  height: 14px;
  left: 1166px;
  position: absolute;
  top: 29px;
  width: 14px;
}
.homepage .icon-material-person {
  background-color: transparent;
  height: 14px;
  left: 1242px;
  position: absolute;
  top: 29px;
  width: 14px;
}
.homepage .il1140x-n2-626086nyvg {
  background-color: transparent;
  height: 428px;
  left: 469px;
  position: absolute;
  top: 1188px;
  width: 413px;
}
.homepage .line-80 {
  background-color: transparent;
  height: 2px;
  left: 482px;
  position: absolute;
  top: 656px;
  width: 80px;
}
.homepage .mini-gift-C61RwL {
  background-color: transparent;
  height: auto;
  left: 36px;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: auto;
}
.homepage .mini-gift-Lm3A3C {
  background-color: transparent;
  bottom: calc(19.80% - 9px);
  height: 47px;
  left: 0px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 132px;
}
.homepage .mustard-4 {
  background-color: transparent;
  height: calc(100.00% - 40px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.homepage .okami-post-ollections {
  background-color: transparent;
  font-size: 28px;
  height: 86px;
  left: 908px;
  line-height: 44px;
  position: absolute;
  text-align: left;
  top: 1226px;
  width: 360px;
}
.homepage .path-1039 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: 125px;
  position: absolute;
  top: -21px;
  width: 90px;
}
.homepage .path-1042 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(38.89% - 35px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.homepage .path-1045 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(31.48% - 28px);
  top: -21px;
  width: 90px;
}
.homepage .path-1048 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(24.07% - 22px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.homepage .path-1051 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(46.30% - 42px);
  top: -21px;
  width: 90px;
}
.homepage .path-1054 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(16.67% - 15px);
  top: -21px;
  width: 90px;
}
.homepage .path-1057 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(16.67% - 15px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.homepage .path-1060 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(46.30% - 42px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.homepage .path-1063 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(24.07% - 22px);
  top: -21px;
  width: 90px;
}
.homepage .path-1066 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: calc(31.48% - 28px);
  position: absolute;
  top: -21px;
  width: 90px;
}
.homepage .path-1069 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: calc(38.89% - 35px);
  top: -21px;
  width: 90px;
}
.homepage .path-1072 {
  background-color: transparent;
  height: calc(100.00% - 60px);
  position: absolute;
  right: 125px;
  top: -21px;
  width: 90px;
}
.homepage .path-341 {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.homepage .path-342 {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 21px;
}
.homepage .path-343 {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(48.85% - 10px);
  top: 0px;
  width: 21px;
}
.homepage .path-403 {
  background-color: transparent;
  bottom: 54px;
  height: 15px;
  position: absolute;
  right: 12px;
  width: 17px;
}
.homepage .path-4034 {
  background-color: transparent;
  height: 15px;
  left: 420px;
  position: absolute;
  top: 1079px;
  width: 17px;
}
.homepage .path-4195 {
  background-color: transparent;
  height: 9px;
  left: calc(36.53% - 3px);
  position: absolute;
  top: calc(27.79% - 3px);
  width: 9px;
}
.homepage .path-4196 {
  background-color: transparent;
  height: calc(100.00% - 6px);
  position: absolute;
  right: 0px;
  top: 3px;
  width: 9px;
}
.homepage .path-4377 {
  background-color: transparent;
  height: 15px;
  left: calc(50.00% - 8px);
  position: absolute;
  top: calc(50.00% - 7px);
  width: 17px;
}
.homepage .pins {
  background-color: transparent;
  color: white;
  height: auto;
  left: 461px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.homepage .plushies {
  background-color: transparent;
  color: white;
  height: auto;
  left: 625px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.homepage .postcards {
  background-color: transparent;
  color: white;
  height: auto;
  left: 811px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.homepage .press {
  background-color: transparent;
  color: black;
  height: 16px;
  left: calc(23.98% - 12px);
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 52px;
}
.homepage .prints {
  background-color: transparent;
  color: white;
  height: auto;
  left: 533px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.homepage .privacy-policy {
  background-color: transparent;
  bottom: calc(25.52% - 4px);
  height: 16px;
  left: calc(17.35% - 13px);
  line-height: 12px;
  opacity: 0.45;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 77px;
}
.homepage .read-more {
  background-color: transparent;
  color: white;
  height: 23px;
  left: 27px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: calc(48.15% - 11px);
  white-space: nowrap;
  width: calc(100.00% - 52px);
}
.homepage .rectangle-311 {
  background-color: var(--salomie);
  height: 428px;
  left: 469px;
  position: absolute;
  top: 1188px;
  width: 878px;
}
.homepage .rectangle-313 {
  background-color: black;
  height: 600px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1366px;
}
.homepage .rectangle-709 {
  background-color: white;
  border-radius: 16px;
  height: calc(100.00% + 17px);
  left: -22px;
  opacity: 0;
  position: absolute;
  top: -20px;
  width: calc(100.00% + 15px);
}
.homepage .shop {
  background-color: transparent;
  color: black;
  height: 16px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 43px;
}
.homepage .social {
  background-color: transparent;
  bottom: calc(25.98% - 5px);
  height: 21px;
  position: absolute;
  right: 0px;
  width: 101px;
}
.homepage .stickers {
  background-color: transparent;
  color: white;
  height: auto;
  left: 347px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.homepage .tees {
  background-color: transparent;
  color: white;
  height: auto;
  left: 737px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.homepage .terms-and-conditions {
  background-color: transparent;
  bottom: calc(25.52% - 4px);
  height: 16px;
  left: calc(30.84% - 36px);
  line-height: 12px;
  opacity: 0.45;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 118px;
}
.homepage .this-colle-get-it-now {
  background-color: transparent;
  height: 90px;
  left: 908px;
  line-height: 24px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 1396px;
  width: 321px;
}
.homepage .tote-bag {
  background-color: transparent;
  color: white;
  height: auto;
  left: 941px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: auto;
}
.homepage .union-10 {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 41px;
}
.homepage .x-bad-luck-tote-bag {
  background-color: transparent;
  bottom: 13px;
  height: 16px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 111px;
}
.homepage .x-ina-shami-en-sticker {
  background-color: transparent;
  bottom: 13px;
  height: 16px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 131px;
}
.homepage .x-ninja-tote-bag {
  background-color: transparent;
  bottom: 13px;
  height: 16px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 88px;
}
.homepage .x-shiba-sticker {
  background-color: transparent;
  bottom: 13px;
  height: 16px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 81px;
}
.homepage .x-tako-tee {
  background-color: transparent;
  bottom: 13px;
  height: 16px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 58px;
}
.homepage .x-yokai-school-print {
  background-color: transparent;
  bottom: 13px;
  height: 16px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 107px;
}
.homepage .x00-the-end-gered-hero {
  background-color: transparent;
  height: 600px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1366px;
}
.homepage .x19 {
  background-color: transparent;
  bottom: -3px;
  font-size: 12px;
  height: 16px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 22px;
}
.homepage .x20 {
  background-color: transparent;
  bottom: -3px;
  font-size: 12px;
  height: 16px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 22px;
}
.homepage .x2020-mini--n-or-event {
  background-color: transparent;
  bottom: 4px;
  height: 43px;
  left: 0px;
  line-height: 24px;
  opacity: 0.45;
  position: absolute;
  text-align: left;
  width: 652px;
}
.homepage .x3 {
  background-color: transparent;
  bottom: -3px;
  font-size: 12px;
  height: 16px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 15px;
}
.homepage .x30 {
  background-color: transparent;
  bottom: -3px;
  font-size: 12px;
  height: 16px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 22px;
}
.homepage .x39 {
  background-color: transparent;
  bottom: -3px;
  font-size: 12px;
  height: 16px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 22px;
}
.homepage .x5 {
  background-color: transparent;
  bottom: -3px;
  font-size: 12px;
  height: 16px;
  left: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 15px;
}
:root {
  --salomie: rgba(251,219,146,0.788);
}